{% extends 'FormBundle::layout.html.twig' %}
{% block body %}
<div class="container">
    <a href="{{ path('admin_task_index') }}" class="btn btn-info pull-right">Administration</a>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        
        <div class="form-box ">
            {{ form_start(form) }}
            {# render the task's only field: description #}
            {{ form_row(form.description) }}

            <h3>Tags</h3>
            <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e }}">
                {# iterate over each existing tag and render its only field: name #}
                {% for tag in form.tags %}
                    <li class="tag-single">{{ form_row(tag.name) }}</li>
                {% endfor %}
            </ul>
            <hr>
            <input type="submit" class="btn btn-primary btn-block" />
        {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var $collectionHolder;
        $form = $('.form-box');



        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link  btn btn-success">Add a tag</a>');
        // var $removeFormA = $('<a href="#" class="delete_tag_link btn btn-danger">delete this tag</a>');

        var $newLinkLi = $('<li class="add-button"></li>').append($addTagLink);
        // var $newLinkLi = $addTagLink;
        // var $removeinkLi = $('<li class="add-button"></li>').append($removeFormA);



        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);
            // $collectionHolder.append($removeinkLi);


            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
                 // add a delete link to all of the existing tag form li elements
            });               


            function addTagForm($collectionHolder, $newLinkLi) {
                
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li class="tag-single"></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                // add a delete link to the new form
                addTagFormDeleteLink($newFormLi)
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#" class="btn btn-danger delete_tag_link">delete this tag</a>');
                $tagFormLi.append($removeFormA);
                // console.log($tagFormLi);
                removeData($removeFormA, $tagFormLi);
            }

            var removeData = function(trigger, target){
                trigger.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    target.remove();
                });
            }
        });
    </script>
{% endblock %}