.add_tag_link, .delete_tag_link{
	padding: 7px 20px;
	width: 150px;
	border-radius: 0;
}
li>div{
	    display: inline-block;
    margin: 0 20px 0 0;
}
.add-button{
	display: inline-block;
}
.add-button::after{
  
}

.tag-single{
	    /*display: inline-block;*/
}