{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('admin_task_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_task_show', { 'id': task.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_task_edit', { 'id': task.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_task_new') }}">Create a new entry</a>
        </li>
        <li>
            <a href="{{ path('form_default_index') }}">Home</a>
        </li>
    </ul>
{% endblock %}
