{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
        <h4>Tags ({{ task.tags|length }}) :</h4>
            {% for  tag in task.tags %}
                <p>{{ loop.index }} - {{ tag.name|capitalize }}</p>
            {% endfor %}
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('admin_task_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_task_edit', { 'id': task.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
